<%
#-------------------------------------------------------------------------------
# _login.erb
# ------------------------------------------------------------------------------
# Author: 	Elliott Richerson
# Created:  June 23, 2014
# Modified: June 23, 2014
# ------------------------------------------------------------------------------
%>

<ul class="inline">
	<li><a id="login" href="#openModalLogin">Login</a></li>
	<li><a id="register" href="#openModalRegister">Register</a></li>
</ul>
