<%
#-------------------------------------------------------------------------------
# _logout.erb
# ------------------------------------------------------------------------------
# Author: 	Elliott Richerson
# Created:  June 23, 2014
# Modified: June 23, 2014
# ------------------------------------------------------------------------------
%>

<ul class="inline">
	<li><a id="profile" href="#openModalProfile">Profile</a></li>
	<li><a id="create_event" href="#openModalCreateEvent">Create Event</a></li>
	<li><a id="logout" href="#openModalLogout">Logout</a></li>
</ul>