<%
#-------------------------------------------------------------------------------
# _modal.erb
# ------------------------------------------------------------------------------
# Author: 	Elliott Richerson
# Created:  August 14, 2014
# Modified: August 14, 2014
# ------------------------------------------------------------------------------
%>

<div id="<%= id %>" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<%= content %>
	</div>
</div>