#top-panel {
	position:fixed;
	top:0px;
	width:100%;
	height:40px;
	background-color:#000000;
	color:#FFFFFF;
}

.notransition {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}


/* LINK TRANSITION */
li {
	-moz-transition:color 0.3s ease-out;
	-webkit-transition:color 0.3s ease-out;
	-o-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;
}

#info-panel {
	position:fixed;
	top:80px;
	width:100%;
	height:40px;
	background-color:#020304;
}

#info-panel #filter-description {
	float:left;
	margin:10px 10px 10px 20px;
	line-height:20px;
	font-size:14px;
	color:#EEEEEE;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#info-panel #event-count-description {
	float:right;
	margin:10px 20px 10px 10px;
	line-height: 20px;
	overflow:hidden;
	font-size:14px;
	color:#EEEEEE;
	font-weight:bold;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#events_spinner img {
	height:40px;
	width:40px;
	float:right;
}


#event_filter_form {
	border:0;
}

#event_filter_form_fieldset {
	border:0;
}

/* MENU STYLE */

header {
	width:100%;
	z-index:200;
	position:fixed;
	top:40px;
}

header #top {
	background:#888888;
	float:left;
	height:40px;
	line-height:40px;
	width:100%;
	z-index:200;
}

header nav#topmenu {
	margin:0;
	padding:0px;
	position:relative;
	width:960px;
	z-index:200;
}

header nav#topmenu ul {
	margin:0;
	padding:0;
	z-index:200;
}

header nav#topmenu ul li {
	float:left;
	position:relative;
	font-size:14px;
	font-weight:bold;
	list-style:none;
	margin:0;
	padding:0;
	width:190px;
	text-align:center;
	text-transform:uppercase;
	border-right:1px solid #ccc;
	z-index:200;	
}

header nav#topmenu ul li:first-child {
	border-left:1px solid #ccc;
	z-index:200;
}

header nav#topmenu ul li  {
	color:rgba(255,255,255,0.6);
	text-decoration:none;
	display:block;
	z-index:200;
}

header nav#topmenu ul li button {
    background: transparent;
    border: none !important;
    font-size:0;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 200;
}

header nav#topmenu ul li:hover {
	background-color: #00DFFC;
	cursor: pointer;
	color: #343838;
	z-index:200;
}

header nav#topmenu ul li:hover > a { /* ACTIVATE LINK WHEN THE MOUSE OVER SUB-MENU */
	z-index:200;
}

header nav#topmenu ul li span { 
	background:url("/img/arrow.png") center no-repeat;
	height:10px;
	position:absolute;
	text-indent:-9999px;
	top:10px;
	right:5px;
	width:10px;
	z-index:200;
}

header nav#topmenu ul li span.arrow {
	background-position:0 2px;
	z-index:200;
}

header nav#topmenu ul li span.arrow-right {
	background-position:-10px 2px;
	z-index:200;
}

header nav#topmenu ul li ul.sublist { /* FIRST SUB-MENU STYLE */
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	left:0px;
	top:41px;
	background:#222;
	width:190px;
	opacity:0;
	visibility:hidden; /* Avoids being selected even if the opacity is set to 0 */
        
        /* CSS3 Multiple Transitions */

	-moz-transition:opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear; 
	-webkit-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	-o-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;

	z-index:200;
}

header nav#topmenu ul li ul.sublist li {
	border:none;
	border-bottom:1px solid #ccc;
	clear:both;
	margin-top:-15px;
	padding:0;
	width:190px;
	-moz-transition:opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-webkit-transition:opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-o-transition:opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	transition:opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	z-index:200;
}

header nav#topmenu ul li ul.sublist li a {
	z-index:200;
}

header nav#topmenu ul li:hover ul.sublist {
	opacity:1;
	visibility:visible;
	z-index:200;
}

header nav#topmenu ul li:hover ul.sublist li {
	margin-top:0;
	opacity:1;
	z-index:200;
}

header nav#topmenu ul li:hover ul.sublist li a {
	-moz-transition:color 0.1s ease-out;
	-webkit-transition:color 0.1s ease-out;
	-o-transition:color 0.1s ease-out;
	transition:color 0.1s ease-out;
	z-index:200;
}

header nav#topmenu ul li:hover ul.sublist li a:hover {
	-moz-transition:color 0.3s ease-out;
	-webkit-transition:color 0.3s ease-out;
	-o-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;
	z-index:200;
}

#date1, #date2 {
  border: none;
  background: no-repeat url("/img/cal.png") 5px 5px;
  margin:0;
  padding:0;
  position:absolute;
  width: 100%;
  height: 100%;
}

#date1:hover, #date2:hover  {
	background: no-repeat url("/img/cal_hover.png") 5px 5px;
}